{% extends 'index.twig' %}

{% block content %}
    <h1>Password Reset</h1>
    <p>Type token from your email and new password to reset your password.</p>
    <form action="{{ path_for('web.user.password.reset') }}" method="post">
        <div>
            <label for="reset-token">Token:</label>
            <input id="reset-token" name="token" type="text" value="{{ form.name }}" required>
            <p>{{ errors.token | join }}</p>
        </div>
        <div>
            <label for="reset-password">New password:</label>
            <input id="reset-password" name="password" value="{{ form.password }}" type="password" required>
            <p>{{ errors.password | join }}</p>
        </div>
        <button>Reset</button>
    </form>
{% endblock %}
