{% extends 'index.twig' %}

{% block content %}
    <section>
        <h1>Edit user {{ user.email }} </h1>
        <form action="{{ path_for('web.admin.user.update', {id:user.id}) }}" method="post">
            <div>
                <label for="register-name">Name:</label>
                <input id="register-name" name="name" type="text" value="{{ form.name ?: user.name }}" required>
                <p>{{ form.errors.name | join }}</p>
            </div>
            <div>
                <label for="register-email">Email:</label>
                <input id="register-email" name="email" type="email" value="{{ form.email ?: user.email }}" required>
                <p>{{ form.errors.email | join }}</p>
            </div>
            <button>Update</button>
        </form>
    </section>
{% endblock %}
