<article id="unit-{{ unit.id }}" class="grid-item unit unit-container element-item">
    <figure class="image-container">
        <img class="b-lazy icon-img"
             src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
             data-src="{{ unit.icon }}"
             alt="{{ unit.name }} icon"
        >
        <figcaption class="text-center">
            <span class="name label label-primary" data-japanese="{{ unit.japanese_name }}">{{ unit.name }}</span>
        </figcaption>
    </figure>
    <nav class="unit-navigation">
        <a href="{{ path_for('web.unit.view', {'id':unit.id}) }}">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span class="sr-only">View</span>
        </a>
        {% if unit.cg is not empty %}
            <a href="{{ path_for('web.unit.bedroom', {'unitId':unit.id}) }}">
                <i class="fa fa-heart" aria-hidden="true"></i>
                <span class="sr-only">Bedroom</span>
            </a>
        {% endif %}
    </nav>
</article>
