{% extends 'index.twig' %}

{% block title %}Units | Aigisu{% endblock %}

{% block stylesheets %}
    <link href="{{ base_url() }}/storage/icons/sprite.css" rel="stylesheet">
    <link href="{{ base_url() }}/dist/units.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <section>
        {% include 'unit/options/index.twig' %}
        <div id="units-index" class="grid text-center">
            <div class="loader"></div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script>
        var API = {
            UNITS: '{{  base_url() ~ path_for('api.unit.index') }}'
        }
    </script>
    <script id="unit-template" type="text/html">
        <% _.each(units, function(unit){ %>
        <div id="unit-<%= unit.id %>" class="unit unit-container element-item">
            <figure class="image-container">
                <div class="image img-circle sprite sprite-<%= unit.icon.replace('{{ base_url() }}/storage/images/icons/', '') %>"></div>
                <figcaption class="text-center">
                    <div><span class="name label label-primary"><%= unit.name %></span></div>
                    <div><span class="kanji label label-primary"><%= unit.kanji %></span></div>
                </figcaption>
            </figure>
        </div>
        <% }); %>
    </script>
    <script src="https://cdn.jsdelivr.net/lodash/4.17.2/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.min.js"></script>
    <script src="{{ base_url() }}/dist/units.js"></script>
{% endblock %}