{% set sortMap = {
'created_at':'Created at',
'name':'Name',
'rarity':'Rarity',
} %}

<section class="sort">
    <form>
        {% for name,value in form if value is not iterable %}
            <input type="hidden" name="{{ name }}" value="{{ value }}">
        {% endfor %}
        <label for="sort-units">Sort units by</label>
        <select id="sort-units" name="sort-units">
            {% for value,name in sortMap %}
                <option value="{{ value }}" {{ form.get('sort-units') is same as(value) ? 'selected' }}>{{ name }}</option>
            {% endfor %}
        </select>
        <button>Sort it!</button>
    </form>
</section>
